<!-- Sequence: 6 -->
<li class="yuimenuitem" id="qcchart_item" style="display:none">
    <a class="yuimenuitemlabel" href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","qcChartDisplay").addPathInfo("search_element","xnat:projectData").addPathInfo("search_field","xnat:projectData.ID").addPathInfo("search_value","$!{project.getId()}").addPathInfo("popup","$!popup")">QC Charts</A> 
</li>
<SCRIPT language="javascript">
    function isQcChartProject(projectID) {
        var doAJAXConfig = $.ajax({
            type : "GET",
            url : "$content.getURI('')/REST/projects/" + projectID + "/qcchartconfig",
            cache: false,
            async: true,
            context: this,
            dataType: 'text'
          });
        doAJAXConfig.done( function( data, textStatus, jqXHR ) {
            if (data == null || data.length<1) {
                // Do nothing for now
            } else {
                $("#qcchart_item").show();
            }
        });
        doAJAXConfig.fail( function( data, textStatus, error ) {
            // Do nothing for now
        });
    }
    isQcChartProject("$project.getId()");
</SCRIPT>
