@charset "utf-8";
/* CSS Document */

/* container */
.qccharts_container {
	display: inline;
	padding-top: 2px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	float: left;
	width: 721px;
	background-color: #F5F5F5;
	position: relative;
}
.qccharts_header {
	width:98%;
	float:right;
	position: relative;
	height: 121px;
}
.qcchart_tooltip {
  background-color: #F5F5F5;
  font: 10px sans-serif;
  text-align: left;
  opacity: 0.85;
  filter: Alpha(opacity=85);
}
.qcchart_waiting {
  float: left;
}
.qcchart_results {
  margin: 2px;
  width: 100%;
}
.qcchart {
  background-color: #fefefe;
}
.qcchart_select {
  padding: 1px;
}
div.qcchart {
  font: 20px sans-serif;
  text-align: center;
  padding: 3px;
  margin: 1px;
  margin-bottom: 10px;
  color: black;
  float: left;
  width: 99%;
}

.floatleft {
  float: left;
}
.vertcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.csstable {
    display: table;
    border-collapse:collapse
}
.cssrow {
    display:table-row;
    width: 100%;
}
.middle {
    vertical-align: middle;
}
.csscell {
    display: table-cell;
    padding: 5px;
    border: 1px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.divwithsvg {
    position: relative;
    overflow: visible;
    padding: 0px;
}
.svgindiv {
    position: absolute;
    float: left;
    left: 0px;
}
.charthdr {
    background-color: #D1D1D1;
}
.chartftr {
    background-color: #D1D1D1;
}

